In [1]:
from datetime import datetime, timedelta, timezone
import pandas as pd
from robo_trader import Portfolio, Interval, DummyExchange
from robo_trader.strategies import LorentzianStrategy, LorentzianSettings
from robo_trader.price_providers import YFinancePriceProvider

In [5]:
SYMBOL = "BTC-GBP"
inception_date = datetime(2000, 1, 1, tzinfo=timezone.utc)
start_date = datetime(2023, 7, 1, tzinfo=timezone.utc)
end_date = datetime(2023, 8, 1, tzinfo=timezone.utc)
interval = Interval.ONE_HOUR
period = 24

settings = LorentzianSettings(
    neighborsCount = 8, maxBarsBack = 2000, useDynamicExits = True,
    useEmaFilter = False, emaPeriod = 200,
    useSmaFilter = False, smaPeriod = 200,
    useKernelSmoothing = True, lookbackWindow = 8, relativeWeight = 8.0, regressionLevel = 25, crossoverLag = 2,
    useVolatilityFilter = True,
    useRegimeFilter = True, regimeThreshold = -.1,
    useAdxFilter = False, adxThreshold = 25,
    use_RSI = True, RSI_param1 = 14, RSI_param2 = 2,
    use_WT = True, WT_param1 = 10, WT_param2 = 11,
    use_CCI = True, CCI_param1 = 20, CCI_param2 = 2,
    use_ADX = True, ADX_param1 = 20, ADX_param2 = 2,
    use_MFI = True, MFI_param1 = 14
)

price_provider = YFinancePriceProvider()
exchange = DummyExchange({SYMBOL: 100}, 0.004)
portfolio = Portfolio(SYMBOL, exchange, inception_date = inception_date)
strategy = LorentzianStrategy(SYMBOL, price_provider, interval, portfolio, settings)

perf = strategy.backtest(start_date = start_date, end_date = end_date, period = period)

In [6]:
# Set display options
pd.set_option('display.max_rows', None)  # Adjust None to your specific needs
pd.set_option('display.max_columns', None)  # Adjust None as needed
pd.set_option('display.width', 1000)  # Adjust the width to fit your notebook

date_format = lambda x: x.strftime('%Y-%m-%d %H:%M')
perf = perf.style.format({'start_date': date_format, 'end_date': date_format})

display(perf)